
@import url("https://fonts.googleapis.com/css2?family=Qahiri&display=swap");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"); */
body {
  margin: 0;
  padding: 0%;

}



.row{
  display: flex;
}
.nav{
  background-color: rgba(255, 166, 0, 0.651);
  top: 0%;
  left: 0%;
  display: flex;
}
.CreateNote{
  border:2px solid #ddd;
  transform: translate(80%,15%);
  height: 35vh;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
input{
  width: 99%;
  height: 50px;
  outline: none;
 border: none;
 border-bottom: 2px solid black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(221, 224, 18);
  font-family: 'cursive';
}
textarea{
  width: 99%;
  height: 20vh;
  outline: none;
  border: none;
}

button {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
button {
   margin: 10px 250px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
.note{
  height: 100px;
  width: 300px;

  margin: 0px 30px;
}
.box{
  width: 100%;
display: flex;

}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 23%;
  height: 20vh;
  margin: 123px 30px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}